body{
    margin:0;
    padding:0;
    background-color:white;
}
header{
    width:100vw;
    height: 80px;
    background-color: rgb(255, 206, 3);
   
    opacity: 80%;
    top:0;
    display: flex;
    align-items:center;
    justify-content: space-between;

}
.logo{
    margin-left: 30px;
    height: 70px;
}

    ul li{
    list-style:none;
    display: inline;
    margin-left: 50px;
    padding:10px;
    font-size: 20px;
    margin-right: 30px;

}
.main{
    margin-top: 120px;
}
.aboutme{
    display:flex;
    justify-content: space-around;
    margin-top :100px;

}
.aboutme-text{
    width: 60%;
    text-align: center;
    text-transform: capitalize;
    font-family:Arial, Helvetica, sans-serif;


}
.aboutme-text h1{
    font: size 62px;
    margin-bottom: 0%;


}
.aboutme-text h3{ 
   font-size: 52px;
   margin-bottom: 0%;

}
.aboutme-text h4{
  font-size: 42px;
  margin-bottom: 0%;

}
.aboutme-img{

    width: 40%;
}
.aboutme-img img{

    width: 85%;
}
.intro-text {
    width: 80%;              /* ✅ take remaining space */
}

.intro-text h1 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.intro-text p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:black;
    line-height: 1.6; 
    text-align: justify;       /* ✅ better readability */
}

.intro-img {
    width: 40%;
    margin-left: 50px;              /* image container width */
}

.intro-img img {
    width: 50%;             /* fill image container */
}
.services{
    margin-top: 20px;
}
.services h1{
    text-align: center;
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.services p{
    text-align: justify;
    font: size 18px;
    font-family: Arial, Helvetica, sans-serif;
   
    color:black;
    width:40%;
    margin:auto;
}
.cards-container{
    display:flex;
    flex-direction: row;
    margin:10px;
    justify-content: space-evenly;
    margin-top:40px;
}
.card{
    width: 300px;
    height:500px;
    background-color:white;
    cursor:pointer;
    text-align:center;
    padding:40px 20px 40px;
    box-sizing:border-box;
}

.card:hover{
   background-color:rgb(248, 248, 150);
}
.slider {
  width: 100%;
  overflow: hidden;
  background: rgb(248, 248, 212);
  padding: 20px 0;
}

.slide-track {
  display: flex;
  width: calc(250px * 8);
  animation: scroll 20s linear infinite;
}

.slide-track img {
  width: 250px;
  height: 150px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.projects{
    margin-top:70px;

}
.projects h1{
    text-align: :center;
}
.project-card p{
    color:grey;
    font-family:Arial, Helvetica, sans-serif
}
.contact{
    width:70%;
    height:400px;
    background-color:#F0F0F0;

    margin:auto;
    margin-top:70px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.contact input{
    width:40%;
    height:40px;
    border-radius:5px;
    margin-right:10px;
    border:none;
    background-color:white;
    color:black;

}

.contact button{
    width:40px;
    height:40px;
    border:none;
    border-radius: 5px;
    background-color:rgb(154, 154, 243);
    color:black;
    cursor:pointer;
}
footer{
    text-align: justify;
    margin-top:100px;
    font-family: Arial, Helvetica, sans-serif;
    width:100vw;
    height: 80px;
    background-color: rgb(255, 206, 3);
  
    opacity: 80%;
    top:0;
    display: flex;
    align-items:center;
    justify-content: space-between;
   
}
.logo1{
    margin:auto;
    height: 70px;
}
